<div *ngIf="!isLogged()" class="flex justify-center items-center h-screen">Inicie sesion para poder ver el area de departamentos</div>
<div *ngIf="!editing && isLogged()" class="container mx-auto p-4">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-bold text-gray-800">Lista de departamentos</h2>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-md" (click)="adding=true; newDepartamento = {};loadDepartamentos();">
            Agregar Departamento
        </button>
    </div>
    <table class="min-w-full border border-collapse table-auto">
        <thead>
            <tr class="bg-gray-100">
                <th class="border px-4 py-2 text-left font-medium text-gray-500 uppercase tracking-wider">Codigo</th>
                <th class="border px-4 py-2 text-left font-medium text-gray-500 uppercase tracking-wider">Area</th>
                <th class="border px-4 py-2 text-left font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let departamento of departamentos; index as i" class="border-b hover:bg-gray-50">
                <td class="border px-4 py-2">{{ departamento.codigo_departamento }}</td>
                <td class="border px-4 py-2">{{ departamento.nombre }}</td>
                <td class="border px-4 py-2 flex items-center justify-center">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold mx-1 py-2 px-4 rounded-md" (click)="delete(departamento.nombre,departamento.codigo_departamento)">
                        Eliminar
                    </button>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mx-1 py-2 px-4 rounded-md" (click)="editing=true; currentDepartamento=departamento; loadDepartamentos();">
                        Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="editing" class="container mx-auto p-4">
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Editando el departamento de {{ currentDepartamento.nombre }}</h2>

        <div class="mb-4">
            <label for="currentNombre" class="block text-gray-700 font-bold mb-2">Nombre</label>
            <input id="currentNombre" [(ngModel)]="currentDepartamento.nombre" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="{{ currentDepartamento.nombre }}">
        </div>

        <div class="flex justify-end">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md" (click)="update()">
                Aceptar
            </button>
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold ml-2 py-2 px-4 rounded-md" (click)="editing=false; currentDepartamento = {}">
                Cancelar
            </button>
        </div>
    </div>
</div>

<div *ngIf="adding" class="container mx-auto p-4">
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Agregar Departamento</h2>

        <div class="mb-4">
            <label for="newNombre" class="block text-gray-700 font-bold mb-2">Nombre</label>
            <input id="newNombre" [(ngModel)]="newDepartamento.nombre" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Nombre del departamento">
        </div>

        <div class="mb-4">
            <label for="newCodigo" class="block text-gray-700 font-bold mb-2">Codigo</label>
            <input id="newCodigo" [(ngModel)]="newDepartamento.codigo_departamento" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Codigo del departamento">
        </div>

        <div class="flex justify-end">
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-md" (click)="addDepartamento()">
                Agregar
            </button>
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold ml-2 py-2 px-4 rounded-md" (click)="adding=false; newDepartamento = {}">
                Cancelar
            </button>
        </div>
    </div>
</div>