<div class="disfraces-list p-6 bg-black rounded-lg shadow-md border-2 border-red-600">
    <h2 class="text-2xl font-bold mb-4 text-red-600 satanic-font">List of Disfraces</h2>
    <ul>
        <li *ngFor="let disfraz of disfraces" class="mb-4 p-4 bg-black rounded-lg shadow-md border-2 border-red-600">
            <h3 class="text-xl font-semibold text-red-600">{{ disfraz.nombre }}</h3>
            <p class="text-gray-200">{{ disfraz.precio }}</p>
            <p class="text-gray-200">{{ disfraz.categoria.nombre }}</p>
            <p class="text-gray-200">{{ disfraz.talla }}</p>
            <p class="text-gray-200">{{ disfraz.color }}</p>
            <p class="text-gray-200">{{ disfraz.test }}</p>
            <img [src]="disfraz.imagenUrl" alt="disfraz" class="w-1/4 h-1/4">
        </li>
    </ul>
</div>

<div class="add-disfraz-form p-6 bg-black rounded-lg shadow-md mt-6 border-2 border-red-600">
    <h2 class="text-2xl font-bold mb-4 text-red-600 satanic-font">Add New Disfraz</h2>
    <form (ngSubmit)="saveDisfraz()" enctype="multipart/form-data" class="space-y-4">
        <div>
            <label for="nombre" class="block text-sm font-medium text-red-500">Nombre:</label>
            <input type="text" id="nombre" [(ngModel)]="newDisfraz.nombre" name="nombre" required class="mt-1 p-2 block w-full border border-red-500 rounded-md shadow-sm focus:ring-red-600 focus:border-red-600 bg-black text-gray-200">
        </div>

        <div>
            <label for="talla" class="block text-sm font-medium text-red-500">Talla:</label>
            <input type="text" id="talla" [(ngModel)]="newDisfraz.talla" name="categoria" required class="mt-1 p-2 block w-full border border-red-500 rounded-md shadow-sm focus:ring-red-600 focus:border-red-600 bg-black text-gray-200">
        </div>

        <div>
            <label for="color" class="block text-sm font-medium text-red-500">Color:</label>
            <input type="text" id="color" [(ngModel)]="newDisfraz.color" name="categoria" required class="mt-1 p-2 block w-full border border-red-500 rounded-md shadow-sm focus:ring-red-600 focus:border-red-600 bg-black text-gray-200">
        </div>
        
        <div>
            <label for="precio" class="block text-sm font-medium text-red-500">Precio:</label>
            <input type="number" id="precio" [(ngModel)]="newDisfraz.precio" name="precio" required class="mt-1 p-2 block w-full border border-red-500 rounded-md shadow-sm focus:ring-red-600 focus:border-red-600 bg-black text-gray-200">
        </div>

        <div>
            <label for="categoria" class="block text-sm font-medium text-red-500">Categoría:</label>
            <input type="text" id="categoria" [(ngModel)]="newDisfraz.categoria" name="categoria" required class="mt-1 p-2 block w-full border border-red-500 rounded-md shadow-sm focus:ring-red-600 focus:border-red-600 bg-black text-gray-200">
        </div>
        
        <div>
            <label for="imagen" class="block text-sm font-medium text-red-500">Imagen:</label>
            <input type="file" id="imagen" (change)="onFileSelected($event)" name="imagen" required class="mt-1 p-2 block w-full border border-red-500 rounded-md shadow-sm focus:ring-red-600 focus:border-red-600 bg-black text-gray-200">
        </div>
        
        <button type="submit" class="w-full py-2 px-4 bg-red-600 text-white font-semibold rounded-md shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2">
            Add Disfraz
        </button>
    </form>
</div>
