<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <a routerLink="/" class="text-white font-bold text-xl">AhoraSiDormi</a>  </div>
    <ul class="flex space-x-4">
      <li *ngFor="let route of routes">
        <div *ngIf="(isLogged() && (route.title != 'Inicio de sesion' && route.title != 'Registro')) || (!isLogged()) ">
        <a [routerLink]="route.path" routerLinkActive="active"
           class="text-gray-300 hover:text-white px-3 py-2 rounded-md font-medium"
           [title]="route.title">
          {{ route.title }}
        </a>
      </div>
      </li>

      <li class="text-white font-bold text-xl" *ngIf="isLogged()">Bienvenido/a {{name()}}</li>
    </ul>
    </div>
</nav>
<router-outlet />