<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-bold mb-4 text-center">Inicio de Sesion</h2>

    <div class="mb-4">
      <label for="username" class="block text-gray-700 font-bold mb-2">Usuario</label>
      <input type="text" id="username" [(ngModel)]="username"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Ingresa tu usuario">
    </div>

    <div class="mb-6">
      <label for="password" class="block text-gray-700 font-bold mb-2">Contraseña</label>
      <input type="password" id="password" [(ngModel)]="password"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Ingresa tu contraseña">
    </div>

    <div class="flex items-center justify-between">
      <button (click)="login()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Iniciar Sesion
      </button>
    </div>

    <div *ngIf="isLogged()" class="mt-4 text-green-500">
      
      <div *></div>
    </div>
  </div>
</div>